
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="text-center">
    <img src="https://i.ytimg.com/vi/bJOvQjrOwxY/maxresdefault.jpg" alt="feb Untirta" width="300px">
    </div>
<h3>Fakultas Ekonomi dan Bisnis</h3>
<p>Pada tahun 1999, pimpinan Fakultas Ekonomi UNTIRTA bersama dengan pimpinan lainnya di lingkungan Untirta serta Pengurus Yapenta dan dukungan para tokoh Banten, mengusulkan penegerian Universitas Tirtayasa kepada pemerintah pusat melalui Departemen Pendidikan Nasional. Kemudian pada tanggal 13 Oktober 1999 ditetapkan dengan Keputusan Presiden RI Nomor: 130/1999 tentang Persiapan Perguruan Tinggi Negeri UNTIRTA. Atas usaha dan kesungguhan dari Pimpinan UNTIRTA dan pengurus Yayasan tepat pada tahun 2001 berdasarkan Keputusan Presiden Republik Indonesia Nomor: 32 tanggal 19 Maret 2001, UNTIRTA secara resmi ditetapkan menjadi Perguruan Tinggi Negeri yang disahkan.</P>
<p>Macam-Macam Program Studi yang berada di FEB: <p>
    <ul>
        <li><a>Program Sarjana Managemen</a></li>
        <li><a>Program Sarjana Akuntansi</a></li>
        <li><a>Program Sarjana Ilmu Ekonomi Pembangunan</a></li>
        <li><a>Program Sarjana Ekonomi Syariah</a></li>
        <li><a>Program Diploma III Akuntansi</a></li>
        <li><a>Program Diploma III Marketing</a></li>
        <li><a>Program Diploma III Perpajakan</a></li>
        <li><a>Program Diploma III Keuangan Perbankan</a></li>
      </ul>

      <h2>Daftar Nama Dosen FEB</h2>
      <table class="table table-success table-striped">
          <tr>
              <th>NIP</th>
              <th>Nama</th>
              <th>Tanggal Lahir</th>
              <th>Foto</th>
              <th>Email</th>
              <th>Fakultas</th>
              <th>Prodi</th>
              <th>Alamat</th>
          </tr>
          {% for dosen in dataDosen %}
          <tr>
              <td>{{ dosen.nip }}</td>
              <td>{{ dosen.nama }}</td>
              <td>{{ dosen.tanggal_lahir }}</td>
              <td>{{ dosen.foto }}</td>
              <td>{{ dosen.email }}</td>
              <td>{{ dosen.fakultas }}</td>
              <td>{{ dosen.prodi }}</td>
              <td>{{ dosen.alamat }}</td>
          </tr>
          {% endfor %}
      </table>
      <br>
      <h2>Daftar Nama Staf FEB</h2>
      <table class="table table-success table-striped">
          <tr>
              <th>NIP</th>
              <th>Nama</th>
              <th>Tanggal Lahir</th>
              <th>Foto</th>
              <th>Email</th>
              <th>Unit</th>
              <th>Alamat</th>
          </tr>
          {% for staf in dataStaf %}
          <tr>
              <td>{{ staf.nip }}</td>
              <td>{{ staf.nama }}</td>
              <td>{{ staf.tanggal_lahir }}</td>
              <td>{{ staf.foto }}</td>
              <td>{{ staf.email }}</td>
              <td>{{ staf.unit }}</td>
              <td>{{ staf.alamat }}</td>
          </tr>
          {% endfor %}
      </table>
      <br>
      <h2>Daftar Nama Mahasiswa FEB</h2>
      <table class="table table-success table-striped">
          <tr>
              <th>NIM</th>
              <th>Nama</th>
              <th>Tanggal Lahir</th>
              <th>Foto</th>
              <th>Email</th>
              <th>Fakultas</th>
              <th>Prodi</th>
              <th>Alamat</th>
          </tr>
          {% for mahasiswa in dataMahasiswa %}
          <tr>
              <td>{{ mahasiswa.nim }}</td>
              <td>{{ mahasiswa.nama }}</td>
              <td>{{ mahasiswa.tanggal_lahir }}</td>
              <td>{{ mahasiswa.foto }}</td>
              <td>{{ mahasiswa.email }}</td>
              <td>{{ mahasiswa.fakultas }}</td>
              <td>{{ mahasiswa.prodi }}</td>
              <td>{{ mahasiswa.alamat }}</td>
          </tr>
          {% endfor %}
      </table>

{% endblock %}