
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="text-center">
    <img src="https://heylaw.sgp1.digitaloceanspaces.com/partners/C6SAePuvNlEuHahz3hzUjmBXaJr8qcpQXv98EAOY.png" alt="fh Untirta" width="200px">
    </div>
<h3>Fakultas Hukum</h3>
<p>Fakultas Hukum Universitas Sultan Ageng Tirtayasa Banten berdiri tahun 1981, tepatnya pada tanggal 1 Oktober 1981 dengan status sebagai STIH Serang yan bertempat di Kresidenan Banten, Jl. K.H. Sam’un dan merupakan embrio lahirnya Universitas Sultan Ageng Tirtayasa Banten. Mulai tahun 1984, STIH Serang di integrasi sesuai dengan SK Mendikbud No. 0596/0/1984, menjadi Fakultas Hukum Universitas Sultan Ageng Tirtayasa Banten, yang bertempat di Jl. Raya Jakarta KM. 4 Pakupatan – Serang.</P>
<p>Pada tahun 2001 status Fakultas Hukum menjadi Fakultas Hukum dari Universitas Sultan Ageng Tirtayasa Banten dengan Status Negeri, berdasarkan Kepres No. 32/2001, hingga saat ini dan beralamat di Jl. Raya Jakarta KM. 4 Pakupatan–Serang. Saat ini  fakultas Hukum terakreditasi peringkat B berdasarkan SK. No. 186/SK/BAN-PT/Ak-SURV/S/VI/2014 tertanggal 28 Juni 2014.<p>
    <p>Perbaikan proses dan kualitas pembelajaran serta mutu lulusan merupakan prioritas utama yang dilakukan pada saat ini. Sejalan dengan tuntutan masyarakat akan mutu lulusan yang semakin tinggi, Fakultas Hukum Universitas Sultan Ageng Tirtayasa berusaha untuk tetap menjaga kualitas proses belajar mengajar yang menjadi tugas utamanya melalui pengelolaan lembaga yang efektif dan efisien. Hingga saat ini Fakultas Hukum memiliki satu program studi yaitu ilmu hukum.</p>

{% endblock %}