{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">Universitas Sultan Ageng Tirtayasa</h1>
    <div class="text-center">
    <img src="https://assets.promediateknologi.com/crop/0x0:0x0/x/photo/2022/07/19/3737337373.jpg" alt="Gedung Untirta" width="500px">
    </div>

    <h3>A. SEJARAH UNTIRTA</h3>
    <body>
    <p>Universitas Sultan Ageng Tirtayasa dimulai dengan berdirinya Yayasan Pendidikan Tirtayasa pada tanggal 1 oktober 1980 berdasarkan Akte Notaris No: 1 Tahun 1980, kemudian dilakukan penyempurnaan dan dikukuhkan kembali dengan akte Notaris Ny. R.Arie Soetardjo, Nomor 1, Tanggal 3 Maret 1986.</p>
    <p>Kata Tirtayasa (Bahasa Sansekerta yang berarti Air Mengalir) diambil dari nama Pahlawan Nasional yang berasal dari Banten, yaitu Sultan Ageng Tirtayasa (Kepres RI Nomor: 045/TK/1070). Nama Asli Sultan Ageng Tirtayasa adalah Abul Fatih Abdul Fatah, pewaris ke-IV tahta Kesultanan Banten. Sultan Ageng Tirtayasa dianugerahi tanda jasa Pahlawan Nasional karena dengan gigih menentang penjajahan Belanda dan berhasil membawa kejayaan dan keemasan Kesultanan Banten.</p>
    <p>Langkah awal Yayasan Pendidikan Tirtayasa mendirikan Sekolah Tinggi Ilmu Hukum (STIH) pada tahun 1981 disusul dengan pendirian Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP) pada tahun 1982. Berbarengan dengan pendiran STKIP, Yayasan Krakatau Steel Cilegon mendirikan SekolahTinggi Teknik (STT) yang selanjutnya STT bergabung dengan Yayasan Pendidikan Tirtayasa untuk persiapan berdirinya Universitas Tirtayasa Serang-Banten.</p>
    <p>Universitas Tirtayasa Serang Banten merupakan merupakan penggabungan dari STIH, STT dan STKIP berdasarkan Surat Keputusan Mendikbud RI Nomor; 0596/0/1984, tanggal 28 November 1984, maka berubahlah status masing-masing sekolah tinggi menjadi Fakultas Hukum, Fakultas Teknik, dan Fakultas Ilmu Keguruan dan Ilmu Pendidikan (FKIP).</p>
    <p>Seiring dengan harapan masyarakat Banten, dari tahun ke tahun Universitas Tirtayasa mengembangkan pendirian fakultas dan program studi baru ditandai dengan berdirinya Fakultas Pertanian berdasarkan Surat Keputusan Mendikbud RI Nomor: 0123/0/1989, tanggal 8 Maret 1989, dan Fakultas ekonomi dengan Surat Keputusan Mendikbud Nomor: 0331/0/1989, tanggal 30 Mei 1989.</p>
    <p>Perubahan sosial politik yang terjadi di Indonesia telah ikut mempengaruhi perubahan yang terjadi pada Universitas Sultan Ageng Tirtayasa. Didasari oleh perkembangan Untirta sebagai Perguruan Tinggi Swasta yang kurang signifikan dan spirit era reformasi telah mendorong Pimpinan Universitas dan para Pimpinan Fakultas di lingkungan Universitas Tirtayasa serta Pengurus Yayasan Pendidikan Tirtayasa dan dukungan para tokoh Banten mengusulkan penegerian Universitas Sultan Ageng Tirtayasa kepada pemerintah pusat melalui Departemen Pendidikan Nasional. Selanjutnya pada tanggal 13 oktober 1999 keluarlah Keppres RI Nomor; 130/1999 tentang Persiapan Perguruan Tinggi Negeri Universitas Sultan Ageng Tirtayasa. Atas kerja keras dan kesungguhan dari pimpinan Untirta dan pengurus Yayasan maka pada tahun 2001 berdasarkan Keputusan Presiden RI Nomor: 32 tanggal 19 maret 2001 Universitas Sultan Ageng Tirtayasa secara resmi ditetapkan menjadi PerguruanTinggi Negeri definitif.</p>
    <p>Universitas Sultan Ageng Tirtayasa sebagai perguruan tinggi negeri yang baru terus berupaya melakukan perubahan-perubahan dan perbaikan-perbaikan, baik dibidang kelembagaan, akademik, maupun dibidang kemahasiswaan dan kerjasama.</p>
    <p>Perubahan mendasar dibidang organisasi dan tata kerja adalah dengan ditetapkannya Keputusan Mendiknas Nomor 023/J43/d.1/SK/IV/2003 dan Statuta Universitas Sultan Ageng Tirtayasa berdasarkan Keputusan Mendiknas Nomor 10 tahun 2007. Demikian pula perubahan dan perbaikan dibidang akademik khususnya pendirian fakultas dan jurusan-jurusan baru, pembangunan sarana dan prasarana pendidikan, pengembangan dan peningkatan kualitas dosen dan tenaga pendidikan lainnya, pengembangan ICT untuk menunjang pendidikan dan pelayanan akademik prima, pengembangan dan peningkatan sarana perpustakaan menuju e-library dan e-jurnal penguatan atmosfer akademik di kampus, serta peningkatan kualitas pendidikan melalui sistem penjaminan mutu dan evaluasi diri (Quality Assurance and Self evaluation).</p>
    <p>Sumber daya manusia dan mahasiswa yang dimiliki Universitas Sultan Ageng Tirtayasa sampai dengan bulan Agustus 2012 terdiri atas 498 orang Dosen PNS, dan 177 tenaga Administrasi PNS.</p>
    </body>

    <body>
        <h3>B. VISI MISI UNTIRTA TAHUN 2019-2023</h3>
        <h4>Visi</h4>
        <p>Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It’S Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030</p>
        <h4>Misi</h4>
        <ul>
            <li><a>Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN.</a></li>
            <li><a>Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman.</a></li>
            <li><a>Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University.</a></li>
          </ul>
          <p>Value JAWARA (Jujur Adil Wibawa Amanah Religius Akuntabel) “UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)</P>
            <p>Universitas Sultan Ageng Tirtayasa menawarkan pengalaman akademik dan nonakademik yang luas, yang mencakup lingkungan, budaya sekaligus juga kesempatan akademik. Universitas Sultan Ageng Tirtayasa memiliki 7 fakultas dan 1 Program Pendidikan Magister (Pascasarjana).</p>





{% endblock %}